.Form {
  margin: 1rem;
}

.Input {
  width: 100%;
  height: 2rem;
  margin: 1rem 0.6rem 0 0;
}

.Error {
  color: rgb(255, 0, 0);
}

.Button {
  float: right;
  width: 6rem;
  height: 3rem;
  margin: 2rem 0.5rem;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.Button:hover,
.Button:active {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.Button:disabled {
  cursor: not-allowed;
  background-color: #eeeeee91;
}

.Setting {
  color: #000;
  width: 100%;
  height: 2rem;
  margin: 1rem 0.6rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Field {
  display: inline-block;
  width: 70%;
  height: 1.5rem;
  padding: 0.3rem;
  border: 1px solid #000;
  text-align: center;
  line-height: 25px;
}

.VerticalSpinner {
  display: inline;
}

.Selectbox {
  width: 100%;
  height: 2.4rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0;
  text-align: center;
  text-align-last: center;
  font-family: 'Montserrat', sans-serif;
} 

.Checkbox {
  width: 30px;
  height: 30px;
  border: 0.1px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.Checkbox:checked {
  background-color: #000;
}