.Timer {
  width: 70%;
  height: 100vh;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 1000px) {
  .Timer {
    width: 100%;
    position: static;
  }
}