.Spinner {
  margin: 0.5rem;
}
.Input {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
}

.Input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.Button {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.2rem;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
}

.Button:active,
.Button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}